body{
	font-family: Arial,Helvetica,sans-serif;
}

aside, footer, section{
 	border: 1px solid #d4d4d4;
	border-radius: 5px;
	margin-top: 10px;
 }

footer{
    text-align: center; 
    padding: 10px; 
    font-size: 70%; 
    line-height: 14px;
}

h2{
	color:rgb(255,255,255);
	text-align: center;
	background-color: rgb(34, 116, 172);
    padding : 5px;
}

h3{
    color: midnightblue;
    text-align: center;
    background-color: #B2C7D5;
    padding : 10px;
}
.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}

table{
    border-collapse: collapse;
    margin : auto;
}
.t1 td, .t1 th{
    border: 2px solid black ;
    padding:10px;
}

#page3{
    background-color: #D4DFF0;
    display: block;
    text-align: center;
    margin-left: 40em;
    margin-right: 40em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

#page4{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;

}

#page4 td, #page4 th{
    border: 1px solid #ddd;
    padding: 8px;
}

#page4 tr:nth-child(even){background-color: #f2f2f2;}

#page4 th{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
}

.tabSem{
    width:400px;
    margin-top: 50px;
    margin-bottom : 50px;
}

#sem{
    text-align: top ;
    vertical-align: top;
}

